<div id="add" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Add</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
         
        </div>
        <div class="modal-body">
          <label for="">Name:</label>
          <input type="text" [(ngModel)] = "student.name" class="form-control">
          <label for="">Khoa:</label>
          <input type="text" [(ngModel)] = "student.khoa" class="form-control">
        </div>
        <div class="modal-footer">
            <button type="button" (click) = "addData()" class="btn btn-success" data-dismiss="modal">Add</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>

  <div id="edit" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Edit</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
           
          </div>
          <div class="modal-body">
            <label for="">Name:</label>
            <input type="text" [(ngModel)] = "student.name" class="form-control">
            <label for="">Khoa:</label>
            <input type="text" [(ngModel)] = "student.khoa" class="form-control">
          </div>
          <div class="modal-footer">
              <button type="button" (click) = "editData()" class="btn btn-success" data-dismiss="modal">Add</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>
<a href="#add" (click)="add();" class="btn btn-warning" data-toggle="modal">Add</a>

<table id="table_id" datatable class="table datatable">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody *ngFor="let student of arr">
    <tr>
      <td>{{ student.id }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.khoa }}</td>
      <td>
        <a href="javascript:void(0)" class="btn btn-danger" (click)="deleteData(student.id)">Delete</a>
        <a href="#edit" data-toggle="modal" class="btn btn-success" (click)="edit(student)">Edit</a>
      </td>
    </tr>
  </tbody>
</table>

